.navElement {
    float: left;
}

.userHead {
    float:right;
    border:1px solid black;
}

.cancelText {
    text-decoration: none;
}

.myhead {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}