.ulBox {
    ul {
        margin: 0.5rem 0 0 0;
    }
    li {
        text-align: center;
        font-size: 1.5rem;
        margin: 0.5rem 0;
        a {
            color: black;
            &:hover {
                color: white;
            }
        }
    }
}

.rotationChartBox {
    width: 70%;
}