.details{
    align-self: center;
    height: 50px;
    margin: 20px 0;
    display: flex;
    color: #409EFF;
    text-align: center;
    display: block;
}

//.el-header{
    
//}

#member_lever{
    height: 500px;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    border-radius: 13px;
}

#lever_icon{
    float: left;
    height: 300px;
    width: 300px;
    background-color: salmon;
    margin: 50px;
}

#lever{
    height: 400px;
    margin: 70px;
    width: 2000px;
}

#lever_num{
    color: #0084ff;
    font-weight: 700;
    float: left;
    width: 1000px;
    margin-left: 100px;
    margin-bottom: 50px;
}

#lever_progress{
    margin-left: 50px;
    width: 1000px;
    float: left;
}

#overview_main{
    border-top: 1px solid #bebebe;
    padding: 30px 0;
    display: flex;
}

#read_count{
    flex-grow: 1;
    text-align: center;
    color: #909399;
}

#read_count_num{
    margin: 15px 0;
    color: black;
}

#agree_count{
    flex-grow: 1;
    text-align: center;
}

#agree_count_num{
    margin: 15px 0;
}

#fans_count{
    flex-grow: 1;
    text-align: center;
}

#fans_count_num{
    margin: 15px 0;
}

#overview{
    margin: 20px;
    padding: 20px;
    border:1px solid #bebebe;
    background-color: #FFFFFF;
    border-radius: 20px;
}

#creative_data{
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    border:1px solid blue;
    background-color: #FFFFFF;
    border-radius: 20px;
}